@use "@angular/material" as mat;
@import "@angular/material/theming";

$schemer-typography: mat.define-typography-config(
        $font-family: 'NunitoSans',
);
@include angular-material-typography($schemer-typography);

$schemer-element-border-color: #ccc;
$schemer-element-border-hover-color: #333;
$schemer-primary: mat.define-palette(mat.$pink-palette);
$schemer-accent: mat.define-palette(mat.$cyan-palette, 900);
$schemer-theme: mat.define-light-theme((
  color: (primary: $schemer-primary, accent: $schemer-accent),
));

@include mat.legacy-checkbox-color($schemer-theme);
@include mat.radio-color($schemer-theme);
@include mat.slider-color($schemer-theme);

:root {
  --mdc-typography-button-letter-spacing: normal;
  font-family: 'NunitoSans', sans-serif;
}

